body {
    /*padding: 0;*/
    /*margin: 0;*/
}

:root {
    /*--ck-border-radius: 4px !important;*/
    /*--ck-color-toolbar-border: red !important;*/
    /*--ck-color-base-border: red !important;*/
    /*--ck-font-size-base: 10px !important;*/
    /*--ck-color-text: red !important;*/
}

.ck-content {
    min-height: 100px;
    max-height: 400px;
}

.ck-powered-by-balloon {
    display: none !important;
}